input[type="text"],
select.form-control {
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #ddd !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
